.u-contacttime {
    display: inline-block;
    width: 85.2%;
    margin-top: 17px;
    background-color: #fff;
    color: #00ada0;
    font-size: 1.4rem;
    line-height: 1.6;
    text-align: center;
    font-weight: bold;
    font-feature-settings: "palt" 1;
    @include mobi {
        font-size: 1.3rem;
        margin-top: 24.7px;
        line-height: 1.8;
        letter-spacing: 0.2px;
    }
}

.u-width {
    max-width: 290px;
    margin: 2.1% auto 0;
    font-size: 1.6rem;
    line-height: 1.5;
    width: 91%;
}

