<footer class="c-footer">
    <div class="c-post">
        <div class="c-post__wrap">
            <div class="c-post__intro">
                <div class="c-post__introimg">
                    <a href="index.html">
                        <img src="./assets/img/footer_logo.png" alt="Image logo footer">
                    </a>
                </div>
                <div class="c-post__introdatail">
                    <p class="c-post__introtitle">【運営】<span>株式会社愛媛経済レポート</span></p>
                    <p class="c-post__introtext">〒790-0011　<span>愛媛県松山市千舟町4丁目5-4　松山千舟454ビル5F</span>
                    </p>
                </div>
            </div>
            <div class="c-post__contact">
                <div class="c-post__contactplease">
                    <p>掲載企業に関するご質問や資料請求などお気軽にご相談ください。</p>
                </div>
                <div class="c-post__contactphone">
                <p>
                    TEL.
                    <span class="is-call">089-947-1411</span>
                </p>
                </div>
                <div class="u-contacttime">受付時間 &nbsp; 9:00〜17:00(平日のみ)</div>
            </div>
            <div class="c-post__btn">
                <a href="#" class="c-post__link">お問い合わせはこちら</a>
                <a href="#" class="c-post__link">掲載･取材依頼の企業様へ</a>
            </div>
        </div>
    </div>
    <div class="c-post__copy">
        <p>
            ©2018 Ehime Keizai Report Inc,
        </p>
    </div>
</footer>