<header class="c-header">
    <div class="c-header__container">
        <!-- pc -->
        <div class="c-header__pc">
            <div class="c-header__text">
                <a href="#" class="c-header__textlink">掲載･取材依頼の企業様へ <img src="./assets/img/icon_arrow.png" alt="Image icon arrow"></a>
            </div>
            <div class="c-header__nav">
                <p class="c-header__logo">
                    <a href="index.html">
                        <img src="./assets/img/logo.png" alt="Image logo">
                    </a>
                </p>
                <nav class="c-header__menu">
                    <ul class="c-header__list">
                        <li>
                            <a href="./company.html" class="c-header__link u-link__edit">企業一覧</a>
                        </li>
                        <li>
                            <a href="./about.html" class="c-header__link">愛媛シゴト図鑑とは</a>
                        </li>
                        <li>
                            <a href="#" class="c-header__link">インタビュー</a>
                        </li>
                        <li>
                            <a href="./news.html" class="c-header__link">ニュース</a>
                        </li>
                    </ul>
                    <a href="contact.html" class="c-header__btn">お問い合わせ</a>
                </nav>
            </div>
        </div>
        <!-- sp -->
        <div class="c-header__sp">
            <div class="c-header__group">
                <div class="c-header__logo">
                    <a href="index.html">
                        <img src="./assets/img/logo.png" alt="Image logo">
                    </a>
                </div>
                <div class="c-header__toggle">
                    <div class="c-header__email">
                        <a href="#">
                            <img src="./assets/img/gmail_icon.png" alt="Image icon gmail">
                        <span>お問い合わせ</span>
                        </a>
                    </div>
                    <div id="is-showmenu" class="c-header__bar">
                        <div class="c-header__chart">
                            <img src="./assets/img/navarbar.png" alt="Image icon navabar">
                            <span>メニュー</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- nav -->
        <nav id="is-menu" class="c-header__menutab">
            <div id="is-close" class="c-header__close">
                <div class="c-header__closeright">
                    <img src="./assets/img/close.png" alt="Image close">
                    <span>閉じる</span>
                </div>
            </div>
            <div class="c-header__listtab">
                <ul class="c-header__listmenu">
                    <li><a class="c-header__linktab" href="./index.html">ホーム</a></li>
                    <li><a class="c-header__linktab" href="./company.html">企業一覧</a></li>
                    <li><a class="c-header__linktab" href="about.html">愛媛シゴト図鑑とは</a></li>
                    <li><a class="c-header__linktab" href="#">インタビュー</a></li>
                    <li><a class="c-header__linktab" href="./news.html">ニュース</a></li>
                    <li><a class="c-header__linktab" href="#">運営会社</a></li>
                    <li><a class="c-header__linktab" href="./contact.html">お問い合わせ</a></li>
                </ul>
                <div class="c-header__contact">
                    <p class="c-header__tel">TEL.<span class="is-call">089-947-1411</span></p>
                    <p class="u-contacttime u-width">
                        <span>受付時間</span>9:00〜17:00（平日のみ）
                    </p>
                </div>
                <ul class="c-header__listmenu">
                    <li class="u-magrin"><a class="c-post__link u-widthsize" href="#"><span>掲載・</span>取材のご依頼についてはこちら</a></li>
                    <li><a class="c-header__linktab" href="#">プライバシーポリシー</a></li>
                    <li><a class="c-header__linktab" href="#">利用規約</a></li>
                    <li class="u-magrin1"><a class="c-header__linktab u-close" href="#">閉じる</a></li>
                </ul>
            </div>
        </nav>
    </div>
</header>